*{margin: 0pc;
}

.verde1{background-color: rgb(58, 240, 58);
    height: 20vh;
    width:100vw;
    font-size: 50px;
}

.verde2{background-color: rgb(58, 240,58);
    height:10vh;
    font-size: 15;
}

.teal{background-color: rgb(13, 231, 231)  ;
    height: 60vh;
}

.azul{background-color: blue;
    height: 10vh;
}

.topo{
    top: 1px;
}
.baixo{bottom: 1px;}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}