*{margin: 0pc;
}

.verde1{background-color: rgb(58, 240, 58);
    height: 20vh;
    width:100vw;
    font-size: 50px;
    
}

.verde2{background-color: rgb(58, 240,58);
    height:10vh;
    width: 100vw;
    font-size: 15;
}

.teal{background-color: rgb(13, 231, 231)  ;
    height: 70vh;
    width: 65vw;
    top: 20vh;
    right: 15vw;
    
}

.azul{background-color: blue;
    height: 70vh;
    width: 20vw;
    top: 20vh;
}

.azul2{background-color: blue;
    height: 70vh;
    width: 15vw;
    top: 20vh;
    right: 0%;
}

.topo{
    top: 1px;
}
.baixo{bottom: 1px;}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute
}